#login{
	background-color: #33cccc;
	width:50vw;
	align-self: center;
}

#login form{
	width: inherit;
}

#login input{
	width:40vw;
}

#login fieldset{
	width:45vw;
}

#hover{
	z-index: 10;
}

.joinButton{
	cursor: pointer;
	width: 20vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
	background-color: #7da3e0;
}

#messageForm{
	position:absolute;
	bottom:0;
	width: 100%;
	height: 15vh;
	background-color: #8a2791;
}

#messageInput{
	height: 10vh;
	margin-top: 1vh;
	width: 90%;
	margin-left: 5%;
	align-self: center;
}

#convoTop{
	position: absolute;
	top: 0;
	width: 100%;
	height: 10vh;
}

#messagesBox{
	margin-top: 15vh;
	height: 60vh;
	overflow: scroll;
}

.message{
	width:50vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	padding-left: 10vw;
	background-color: #f4a6db;
	border-radius: 1vh;
}

#messageUser{

}

#backButton{
	cursor: pointer;
	background-color: #bcddbd;
	border-radius: 4vh;
	width: 15vw;
	text-align:center;

}

#usermain{
	width: 45vw;
}

#userList{
	top:0vh;
	position: relative;
	width: 45vw;
	margin-left: 50vw;
	height: 60vh;
}

#userSubList{
	overflow: scroll;
	height: 50vh;
}

#hover{
	position: fixed;
	margin-left: 10vw;
	bottom: 30vh;
	width: 25vw;
	border-style: solid;
	border-width: 2vh;
	border-color: #8e125d;

}

.userClick{
	background-color: gray;
}

.clicked{
	background-color: #50e074;
}

#tryAgain{
	font-color: green;
	align-content: center;
	text-align: center;
}

#registerButton{
	cursor: pointer;
}