<center id="login">
<form action="/" method="POST" name="loginForm">
<fieldset>
<legend>Welcome! Login</legend>
Username:
<br>
<input id="username" type="text" name="username" >
<br>
Password:
<br>
<input id="password" type="text" name="password" >
<input type="submit">
</fieldset>
</form>
<a href="/register">New Account</a>
<div id="tryAgain"></div>
</center>