<div id="register">
Enter Name<br>
<form id="registerForm" methos="GET">
<input type="text" id="name"><br>
Enter Password<br>
<input type="text" id="password">
<br>
<input type="submit">
</form>
<div id="result"></div>
<script src="js/register.js"><script>